@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Coda", system-ui;
    color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
    background: transparent;
}

/*
.background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("/static/images/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -10;
}
*/

header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 40px;

    background: rgba(255, 255, 255, 0);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3.3px);

    border: 1px solid rgba(255, 255, 255, 0.33);
    z-index: 100; 
}

main {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.txt {
    width: 760px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    background: rgba(255, 255, 255, 0);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3.3px);
    border: 1px solid rgba(255, 255, 255, 0.33);

    z-index: 20;
}
