@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Coda", system-ui;
    color: white;
}

header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    margin: 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: rgba(255, 255, 255, 0);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(255, 255, 255, 0.33);

}

.background{
    background-image: url("/static/images/background_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

